<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/vendor/linearicons/style.css">
        <link rel="stylesheet" href="/assets/vendor/chartist/css/chartist-custom.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    </th:block>

    <div th:fragment="navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="">
                    Conference Submission System
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="lnr lnr-question-circle"></i>
                                <span>Help</span>
                                <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="lnr lnr-envelope"></i>
                                        <span>Contact Us</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/user.png" class="img-circle" alt="">
                                <span>User</span>
                                <i class="lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="sidebar-nav">
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-users"></i> <span>Candidate</span></a></li>
                        <li><a href="" class=""><i class="lnr lnr-list"></i> <span>Agenda</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed">
                                <i class="fa fa-calendar"></i>
                                <span>Calendar</span>
                                <i class="icon-submenu lnr lnr-chevron-left"></i>
                            </a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="" class="">Profile</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div th:fragment="footer-script">
        <script src="/js/jquery.js"></script>
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
        <script src="/assets/vendor/chartist/js/chartist.min.js"></script>
        <script src="/assets/scripts/klorofil-common.js"></script>
    </div>

</html>