<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Dashboard</title>
	<th:block th:replace="/admin/common :: head"/>
</head>

<body>
	<div id="wrapper">
		<div th:replace="/admin/common :: navbar"></div>
		<div th:replace="/admin/common :: sidebar-nav"></div>

		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div id="overview-div">

					</div>
					<!-- END OVERVIEW -->

					<!-- SEARCH FORM -->
					<div id="search-candidate-form" style="display: none">
						<div class="row">
							<div class="col-md-4">
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Search for candidate</h3>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										</div>
									</div>
									<div class="panel-body">
										<label for="cnName">Chinese Name</label>
										<input type="text" class="form-control" id="cnName"
											   name="cnName" placeholder="Enter"><br>

										<label for="enName">English Name</label>
										<input type="text" class="form-control" id="enName"
											   name="enName" placeholder="Enter"><br>

										<label for="email">Email</label>
										<input type="email" class="form-control" id="email"
											   name="email" placeholder="Enter"><br>

										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone"
											   name="phone" placeholder="Enter"><br>

										<button type="submit" class="btn btn-primary search-candidate">Submit</button>
									</div>
								</div>
							</div>

							<div class="col-md-8">
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Search Results</h3>
										<div class="right">
											<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										</div>
									</div>
									<div class="panel-body no-padding search-result">
										<!-- Insert search results -->
									</div>
									<div class="panel-footer">
										<div class="row">
											<div class="col-md-6">
												<span class="panel-note result-num">
													<!-- Insert search results -->
													Results will be shown in here
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END SEARCH FORM -->
					<!-- CONFERENCE -->
					<div id="conference-div">
						<div class="row">
							<div class="col-md-6">
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">Conference</h3>
										<div class="right">
											<button type="button" id="get-empty-conference-form">
												<i class="lnr lnr-plus-circle"></i>
												<span> New</span>
											</button>
										</div>
									</div>
									<div class="panel-body conference-list">
										<!-- INSERT DATA -->
									</div>
								</div>
							</div>
							<div class="col-md-6" id="empty-conference-form">
								<!-- INSERT EMPTY TABLE -->
							</div>
							<div class="col-md-6" id="conference-detail">

							</div>
						</div>
						<div class="row">
							<div id="agenda-detail" class="col-md-4">

							</div>
							<div id="selectedPaper" class="col-md-4"></div>

							<div id="availablePaper" class="col-md-4"></div>

							<div id="submission-list" class="col-md-4">
								<!-- Insert search results -->
							</div>

							<button type="button" class="btn btn-primary" data-toggle="modal" style="display: none"
									data-target="#createEventModal" id="emptyEventForm"></button>
							<button type="button" class="btn btn-primary" data-toggle="modal" style="display: none"
									data-target="#editEventModal" id="editEventForm"></button>
							<button type="button" class="btn btn-primary" data-toggle="modal" style="display: none"
									data-target="#createSessionModal" id="createSessionForm"></button>
							<button type="button" class="btn btn-primary" data-toggle="modal" style="display: none"
									data-target="#editSessionModal" id="editSessionForm"></button>
							<div id="modal">

							</div>
						</div>
					</div>
					<!-- END CONFERENCE -->
				</div>
			</div>
		</div>

		<div id="toastr" style="display: none">
			<button type="button" id="btn-success" class="btn btn-success btn-toastr" data-context="success" data-message="" data-position="top-right">Success Info</button>
			<button type="button" id="btn-warning" class="btn btn-warning btn-toastr" data-context="warning" data-message="" data-position="top-right">Warning Info</button>
			<button type="button" id="btn-danger" class="btn btn-danger btn-toastr" data-context="error" data-message="" data-position="top-right">Error Info</button>
		</div>
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">
					&copy; 2020 All Rights Reserved.</p>
			</div>
		</footer>
	</div>

	<script th:replace="/admin/common :: footer-script"></script>
</body>
</html>
