<!doctype html>
<html lang="en" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>It seems like this page crashed</title>
    <th:block th:replace="/error/common :: head"/>
</head>

<body>
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box lockscreen clearfix">
                <div class="content">
                    <div class="user text-center">
                        <img src="/img/must.png" alt="must" height="100" width="100">
                    </div>
                    <div style="text-align: center">
                        <h4>Seems like this page crashed, please roll back to dashboard.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>